
.Avatar{
    width: 30px;
    border-radius: 20000px;
}
.Avatar:hover{
    transition: all 1s linear;
    filter: grayscale(0.5)
}
.Center{
    display: flex;
    justify-content: center;
}
.CenterY{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Input{
    border-radius: 200px;
    border: 0.5px silver solid;
    transition: all 1s linear;
}
.Input_hover:hover{
    border: 1.5px #D80179 dashed;
    transition: all 1s linear
}
.Input_focus:focus{
    outline: none;
    border: 1.7px #D80179 solid;
    transition: all 1s linear;
}
.SettingsBar{
    transition: all 1s linear;
}
.SettingsBar:hover{
    color: silver;
    transition: all 1s linear
}
.Header__Link{
    color: black;
    transition: all 1s linear;
    text-decoration: none;
    padding: 0.5em;
    width: 100%;
}
.Header__Link_hover:hover{
    color: #E1439A;
    background-color: lightgray;
    transition: 0.5s all linear;
}
.Header__Link_active{
    color: #E1439A;
    background-color: rgb(242, 242, 242); 
}

.Select{
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 0.5px solid silver;
    outline: none;
    transition: 1s all linear;
}
.Select_focus:focus{
    border: 1px solid #D80179;
    transition: 1s all linear;
}
.Select_hover:hover{
    border: 0.75px dashed #D80179;
    transition: 0.5s all linear;
}
.Body__BGPlayingMusic{
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
}
.Body__SwitchButton{
    border-radius:20000px; 
    color: rgb(230, 221, 221);
    width:50px;
    height:50px;
    border: 1px solid rgb(230, 221, 221);
    transition: all 0.5s linear;
}
.Body__SwitchButton_hover:hover{
    box-shadow: 2px 2px 2px 2px black;
    transition: 0.3s all linear;
}
.Body__SwitchButton_active:active{
    box-shadow: 3px 3px 3px 3px black;
}
.Plus{
	border-color: white;
	font-size: 1.3em;
	color: #00FF00;
	border-radius: 20000px;
	transition: 1s all linear;
    border: #00FF00 solid 1px;
}
.Plus_hover:hover{
    color: white;
	background-color: #00E800;
	box-shadow: 1px 1px 1px black;
	transition: 0.5s all linear;
}
.Plus_active:active{
    color: white;
	background-color: #00CA00;
	box-shadow: 1px 1px 1px 1px black;
	transition: 0.3s all linear;
}

.Playlist__Musics{
    overflow-y: scroll;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid rgb(134, 129, 129);
    height: 500px;
    background-color: rgb(250, 245, 245);
}

.ChatItem{
    box-shadow: 0.5px  black;
    padding: 2em;
    border: 1px solid rgb(184, 182, 182);
    transition: 1s all linear;
}
.ChatItem_hover:hover{
    background-color: rgb(250, 246, 246);
    box-shadow: 1px 1px black;
    transition: 1s all linear;
}
.ChatItem_active:active{
    background-color: rgb(246, 246, 246);
    box-shadow: 1.5px 1.5px 1.5px black;
    transition: 0.1s all linear;
}
.RoundImage{
    border-radius: 20000px;
}
.Home__Link{
    transition: 1s all linear;
}
.Home__Link_hover:hover{
    background-color: rgb(231, 229, 229);
    transition: 0.5s all linear;
}
.Home__Link_active:active{
    background-color: rgb(160, 158, 158);
    transition: 0.3s all linear;
}
.Hint{
    font-size: 0.9em;
    color:rgb(219, 218, 218)
}
.flex{display: flex;}
.MyCard{
    border: silver 1px solid;
    border-radius: 30px;
    padding: 20px;
}

.btn-outline-warning:active{
    color: white  !important;
}
.btn-outline-warning:hover{
    color: white !important;
}

::selection{
    background-color: rgb(250, 128, 128);
    color: white;
    border-radius: 20px;
}